<h1>Module 1</h1>

<h2>Introduction to Understanding the Computer System Unit</h2>

<p class="lead">Owning a personal computer (PC) and having connectivity to the internet are increasingly becoming necessities rather than luxuries. (Although the term PC originally referred to the IBM-PC and did not include Apple products, "PC" now refers generically to personal computers of all types, including Macintosh products.) Purchasing a PC may be as simple as going to the local electronics store and purchasing one &ldquo;off the shelf.&rdquo; But to ensure that your purchase meets your needs, there are several things you should consider. What type of user are you? What kinds of work do you expect to do on this computer? Will information about computers and the components inside them help you in the workplace? Answers to these basic question will begin guiding you toward the purchase of the best computer to fit your needs.</p>

<p>The system unit is one of the most important, but also one of the most misunderstood, components of a PC system. When asked to describe the system unit, many people would incorrectly identify it as a storage device, the central processing unit (CPU), or the main memory module.</p>

<p>Although the system unit contains the components mentioned, it is significantly more than the sum of these parts. The intent of this module is to help you understand the system unit's purpose and function, identify its key internal and external components, and understand the relationship between the system unit and PC user requirements.</p>

<p>In this module, we examine the following topics:</p>

<h2>The System Unit</h2>

<p>In this section, we will discuss why the system unit is a critical component of all computer-based systems and show you how to identify system units used in desktop computers, mobile PCs (laptops and tablet PCs), and mobile devices such as smartphones. Then we will examine the key internal and external system unit components, which give the PC its power and make it such a useful and reliable tool.</p>

<h2>Attaching Peripherals and Communicating with Other Computers</h2>

<p>In this section, we will focus on how the external system unit components are used to attach devices and peripherals that a user may require to complete PC-related tasks, and how computers communicate with other computers.</p>

<h2>User Types and System Configurations</h2>

<p>In this section, we will discuss typical computer user types and why system unit requirements must be carefully considered when making a purchase.</p>

<div class="panel panel-citation-footer">
  <div class="panel-body">
    <small>These course materials were developed collaboratively by UMUC and Carnegie Mellon University's <a href="https://oli.cmu.edu/" target="_blank">Open Learning Initiative</a>. Unless otherwise noted this work is licensed under a Creative Commons <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Attribution-NonCommercial-</a><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">ShareAlike 3.0  Unported</a> license.</small>
  </div>
</div>
