<h2>External Components of the Desktop System Unit</h2>

<p class="lead">System units use a variety of industry-standard bays and ports that allow you to connect peripherals indirectly to the motherboard. Bays for CD/DVD and other disk drives are typically on the front of the system unit for easy access. Most desktop PC ports are found on the back of the system unit, but manufacturers are also placing ports on the front and sides to allow easier access for connecting devices such as USB flash drives and webcams. The keyboard, mouse, monitor, and microphone ports may be color-coded to match the color of the connector on the peripheral.</p>

<p>In desktop PC systems, many of the traditional peripherals&mdash;keyboard, mouse, monitor, printer&mdash;are clearly identified as separate components. Although some manufacturers sell desktop systems as a package, you are not tied to any specific peripheral when you purchase the system unit. Because you can purchase components separately and from different manufacturers, there needs to be a standard, intuitive way to connect these devices to the system unit so they can communicate with each other through the motherboard and allow you to complete your desired tasks. The external components that allow peripherals to be connected to the system unit are:</p>

<ul>
  <li><em>Bays</em> are used to house CDs and DVDs.</li>
  <li><em>Slots</em> are used to insert modem cards, wireless-access cards, and other PC cards that may not be internal to the system unit.</li>
  <li><em>Ports</em> are used to connect additional input, output, storage, and communication devices. Some ports provide wireless data transmission, such as the IrDA (Infrared Data Association) port, which uses infrared light waves for connectivity and communication.</li>
</ul>

<h2>External Components of Mobile PC Systems and Mobile Devices</h2>

<p>Like the desktop PC system unit, notebook and tablet PC system units incorporate a variety of industry-standard bays, slots, and ports to meet user requirements beyond those satisfied by preinstalled or integrated peripherals. Depending on the manufacturer and model of the notebook or tablet PC, the various bays, slots, and ports may be located on the front, back, and/or either side of the system unit.</p>

<p>To be fully functional, mobile PCs and mobile devices require some of the same peripherals as desktop PCs. But unlike in their desktop counterparts, the peripherals and system unit of mobile devices are sold as a single unit. Notebook and tablet PC peripherals, such as the monitor, are permanently attached to the system unit. Other peripherals, such as pointing devices, microphones, and speakers, are integrated into the system unit casing. Handheld units and smartphones also have the keyboard and screen integrated into the system unit casing. Some of these mobile devices may also include a penlike manual pointing device called a &ldquo;stylus&rdquo; that replaces the mouse and allows you to enter data, select items, and give commands by touching the screen with it.</p>

<p>Whereas some standard peripherals come preinstalled or integrated into the system unit casing, computer-based technologies for mobile PCs and mobile devices may require connection to other peripherals to complete jobs such as printing, sharing data, and storing information. For example, notebook and tablet PCs may need to be connected to a USB flash drive in order to share files with another user or update data and information on another PC. Handhelds and smartphones may need to be connected to a desktop, notebook, or tablet PC to download and backup files or synchronize address books or calendars.</p>

<div class="whitebox">
  <h4>MANY STUDENTS WONDER...</h4>

  <p><strong>What are PC cards and smart cards, and what are they used for?</strong></p>

  <p>The PC card has been replaced with the ExpressCard, and both are becoming obsolete with the more common use of cards with USB port connections instead of card slots. Probably the most common use of a PC card is the mobile broadband modem for notebook computers. These cards, which are associated with specific network providers, provide access to the internet via wireless networks.</p>

  <p>A smart card contains an embedded microprocessor and it can be programmed for different applications. When used with a computer, a smart card programmed with user identification information can provide user authentication, ensuring that the user is allowed to access the machine.</p>

  <p>Smart cards probably have more applications outside their use in a computer. The most common use of the smart card is the Subscriber Identity Module (SIM) card in a cell phone. But smart cards are also used to:</p>

  <ul>
    <li>secure physical assets such as sensitive lab equipment or dispensers for drugs</li>
    <li>allow electronic funds transfers using a bank-issued smart card. The card displays a code that is unique each time it is used. The code is tied to the owner of the accounts being accessed.</li>
    <li>grant physical access to locations and facilities</li>
    <li>provide automatic access through bus, metro, and auto tollbooths.</li>
  </ul>

  <p>Sources:<br /><a href="http://en.wikipedia.org/wiki/ExpressCard" target="_blank">http://en.wikipedia.org/wiki/ExpressCard<br /></a><a href="http://www.howstuffworks.com/question332.htm" target="_blank">http://www.howstuffworks.com/question332.htm<br /></a><a href="http://en.wikipedia.org/wiki/Smart_card" target="_blank">http://en.wikipedia.org/wiki/Smart_card<br /></a><a href="http://www.smartcardbasics.com/smart-card-overview.html" target="_blank">http://www.smartcardbasics.com/smart-card-overview.html</a></p>
</div>

<h2>Optional Hardware for Mobile Systems</h2>

<p>In some cases, a user may need the mobility of a notebook or tablet PC, but may work more easily with a desktop-sized monitor, keyboard, and mouse. The user may not want the added complexity of ensuring the notebook or tablet PC is synced with a desktop, nor the added expense of purchasing desktop hardware. To meet these requirements, notebook and tablet PC manufacturers offer an optional hardware unit called a &ldquo;docking station&rdquo; or a &ldquo;port replicator.&rdquo;</p>

<p>Docking stations/port replicators have many of the same input and output device ports found on a desktop PC system unit. A notebook or tablet PC will have a specialized opening or port on the bottom or back of its system unit that allows the PC to be docked so that the motherboard can control the peripherals attached to the docking station. A notebook or tablet PC system unit would then effectively function like an ordinary desktop system unit. The images below show examples of typical docking stations/port replicators associated with notebooks and tablet PCs.</p>

<table style="width:70%">
  <tbody>
    <tr>
      <td style="width:50%" align="center"><img class="img-responsive" src="./images/week2/module3/image17.png" width="248" height="123" alt="Notebook Docking Station"/><br><img class="img-responsive" src="./images/week2/module3/image18.png" width="246" height="116" alt="Expansion Docking Station"/><br><img class="img-responsive" src="./images/week2/module3/image19.png" width="233" height="117" alt="Upright Docking Station"/>
        <p><a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC-BY</a> by Janet Zimmer.</p>
      </td>
      <td style="width:50%" align="center"><img class="img-responsive" src="./images/week2/module3/image20.png" width="315" height="426" alt="Universal Docking Station"/>
        <p><a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC-BY</a> by Janet Zimmer.</p>
      </td>
    </tr>
  </tbody>
</table>

<div class="oli-quiz" file-name="u2_m2_system_DIGT_1.xml"></div>

<div class="whitebox"><small class="creditline">These course materials were  developed collaboratively by UMUC and Carnegie Mellon University's <a href="https://oli.cmu.edu/" target="_blank">Open Learning Initiative</a>. Unless otherwise  noted this work is licensed under a Creative Commons <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Attribution-NonCommercial-</a><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">ShareAlike 3.0  Unported</a> license.</small>
</div>
