body {
  color: #2d3339;
  background: #edeff0;
}

a {
  color: #3f8abf;
  text-decoration: none;
}

a:hover {
  color: #65a1cc;
}

nav ul li a {
  display: block;
  margin: 0;
  padding: 10px 15px;
  color: #444;
  background-color: #adadad;
}
